<div class="page-width custompage text20 evas-mod cust_padding20">
  <div class="grid">
    <div class="grid__item ">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="cust_testimonial">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
