<div class=" custompage cust_padding20">
<div class="page-width stockists ">

      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="">
        {{ page.content }}
      </div>
    </div>
</div>
